<!DOCTYPE html>
<html ng-app="scheduleApp">
<head>
    <meta charset="utf-8" />
    <title>Movies</title>

    <script src="../angular.min.js"></script>
    <script src="../angular-resource.js"></script>
    <script src="../app.js"></script>
</head>
<body ng-cloak>
    <div ng-controller="scheduleController">

        <table>
            <thead>
                <tr>
                    <th>Title</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Task</td>
                </tr>
            </tbody>
        </table>

    </div>
</body>
</html>